@model Product
<div class="col-xs-12 col-sm-6 col-lg-3">
    <div class="shop-product-card">
        <div class="product-image-wrapper">
            @if(Model.StockQuantity == 0)
            {
                <span class="label label-red sale-label">OUT OF STOCK</span>
            }
            else
            {
                @if(Model.StockQuantity <= 5 && Model.StockQuantity > 0)
                {
                    <span class="label label-yellow sale-label">Only @Model.StockQuantity Left!</span>
                }
                <form method="POST" asp-page="/Cart" id="@Model.ProductId">
                    <input type="hidden" asp-for="ProductId" />
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <button type="submit" href="#" class="buy-btn"><span class="linea-ecommerce-bag"></span></button>
                </form>
            }
            <!--Need to extend Product Class with IEnumerable<Images>-->
            <div class="shop-p-slider">
                <a href="../../pages/shop/shop-single.html"><img src="http://placehold.it/263x350" alt="Product Image 1"></a>
                <a href="../../pages/shop/shop-single.html"><img src="http://placehold.it/263x350" alt="Product Image 6"></a>
                <a href="../../pages/shop/shop-single.html"><img src="http://placehold.it/263x350" alt="Product Image 8"></a>
            </div>
        </div>
        <div class="product-meta">
            <a href="../../pages/shop/shop-single.html"><h4 class="product-name">@Model.Name</h4></a>
            <span class="product-sep"></span>
            <p class="product-price">@Model.Price.ToString("c")</p>
        </div>
    </div>
</div>