@model ProductListViewModel
<section id="welcome" class="container">
    <div class="row">
        <div class="ws-l"></div>
        <header class="sec-heading">
            <h2>Welcome to Sports Store</h2>
            <span class="sub-heading"><br />Explore World-Class branded Sports products. Whatever you've got in mind, we've got inside.</span>
        </header>
    </div>
</section>
<section id="products" class="gray-bg">
    <div class="container">
        <div class="ws-m"></div> 
        <form href="@string.Format("/{0}",Model.Category)" class="pull-right row">
            <div class="form-group">
                <label asp-for="@Model.Category">Choose Category: </label>
                <select asp-for="@Model.Category" asp-items="@(new SelectList(ProductListViewModel.Categories))">
                    <option value="@null">Select a Category</option>
                </select>
            </div>
            <button class="btn btn-round btn-ghost btn-small" type="submit">Filter</button>
        </form>
        <div class="section-shop">        
            <div class="row mb-30">
                @foreach (Product product in Model.Products)
                {
                    <partial name="ProductSummary" model="product"/>
                }            
            </div>
        </div>
        <div class="ws-m">
        </div>
    </div>
</section>